*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    text-decoration: none;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    background-color: rgb(107, 72, 22);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: black;
    width: 1050px;
    height: 450px;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: white;
    font-size: 4rem;
    overflow-y: auto;
}

.icon{
    font-size: 4.5rem;
    display: inline;
    position: relative;
    right: 33px;
    top: 39px;
}

.title{
    font-size: 5rem;
}

.todolist{
    padding: 25px 0 0 0;
    display: flex;
    align-items: center;
    margin: 15px 25px 25px;
}


.input-text-todo {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
}

.btn-add-todo {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-add-todo:hover {
    background-color: #218838;
}

.list {
    list-style-type: none;
}

.list li {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.exclude-btn {
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 5px 10px;
    margin-left: 5px;
}

.exclude-btn:hover {
    background-color: #c82333;
}